<html>
<body>
  <div id="main">
    <div id="header">
        <%= @logged_in.message %>
    </div>
  </div>
  <div id="content">
    <h1>The rest data service is currently unavailable</h1>
    <form>
      <input Type="button" VALUE="Back" onClick="history.go(-1);return true;">
    </form>
  </div>
</body>
</html>
